.movie-title{
    font-size: 40px;
}
.movie-info{
    width: 60%;
}
.blue,.movie-rating span{
    color: rgb(11, 89, 178);
    font-weight: bold;
}
.fa-star{
    color: #ff9e00;
}
.fa-thumbs-up{
    color: #fafafa;
}
.fa-film{
    color: rgb(191,213,214);
}
.fa-calender{
    color: peachpuff;
}